openapi: 3.0.3
info:
  title: FairGo IMOS - AI IVR Platform API
  description: |
    Comprehensive API documentation for the AI IVR Platform with Malayalam language support.
    
    ## Features
    - AI Agent Management
    - IVR Workflow Builder
    - Voice Processing & Cloning
    - Cultural Intelligence
    - Real-time Analytics
    - Strategic Engines
    
    ## Authentication
    All API endpoints require authentication via JWT tokens in the Authorization header:
    ```
    Authorization: Bearer <your-jwt-token>
    ```
  version: 2.0.0
  contact:
    name: FairGo IMOS Support
    email: support@fairgo.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.fairgo-imos.com
    description: Production server
  - url: https://staging.fairgo-imos.com
    description: Staging server
  - url: http://localhost:3000
    description: Development server

tags:
  - name: Health
    description: System health and status checks
  - name: AI Agents
    description: AI agent creation and management
  - name: Workflows
    description: IVR workflow builder and execution
  - name: Voice
    description: Voice processing, cloning, and biometrics
  - name: Analytics
    description: Performance metrics and analytics
  - name: Strategic Engines
    description: Advanced AI processing engines
  - name: Cultural Intelligence
    description: Malayalam language and cultural context

paths:
  /api/health:
    get:
      tags:
        - Health
      summary: Get system health status
      description: Returns comprehensive system health information
      responses:
        '200':
          description: System health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy, degraded, unhealthy]
                  timestamp:
                    type: string
                    format: date-time
                  database:
                    type: boolean
                    description: Database connectivity status
                  services:
                    type: object
                    properties:
                      websocket:
                        type: boolean
                      speech:
                        type: boolean
                      ai_engines:
                        type: boolean
                  version:
                    type: string
                    example: "2.0.0"

  /api/ai-agents:
    get:
      tags:
        - AI Agents
      summary: List AI agents
      description: Retrieve paginated list of AI agents
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, testing, review, published, suspended, archived]
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of AI agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AIAgent'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags:
        - AI Agents
      summary: Create new AI agent
      description: Create a new AI agent with configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIAgent'
      responses:
        '201':
          description: AI agent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIAgent'
        '400':
          description: Invalid request data
        '401':
          description: Unauthorized

  /api/ai-agents/{id}:
    get:
      tags:
        - AI Agents
      summary: Get AI agent by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: AI agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIAgent'
        '404':
          description: AI agent not found

    put:
      tags:
        - AI Agents
      summary: Update AI agent
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIAgent'
      responses:
        '200':
          description: AI agent updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIAgent'

  /api/workflows:
    get:
      tags:
        - Workflows
      summary: List workflows
      responses:
        '200':
          description: List of workflows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workflow'

    post:
      tags:
        - Workflows
      summary: Create new workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkflow'
      responses:
        '201':
          description: Workflow created successfully

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    AIAgent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        status:
          type: string
          enum: [draft, testing, review, published, suspended, archived]
        configuration:
          $ref: '#/components/schemas/AgentConfiguration'
        pricing:
          $ref: '#/components/schemas/AgentPricing'
        metrics:
          $ref: '#/components/schemas/AgentMetrics'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    AgentConfiguration:
      type: object
      properties:
        persona:
          type: object
          properties:
            name:
              type: string
            role:
              type: string
            personality:
              type: string
            expertise:
              type: array
              items:
                type: string
            communicationStyle:
              type: string
              enum: [formal, casual, friendly, professional, creative]
            languagePreference:
              type: string
              enum: [english, malayalam, multilingual]
        malayalamSupport:
          type: object
          properties:
            enabled:
              type: boolean
            dialectSupport:
              type: array
              items:
                type: string
                enum: [central, northern, southern, malabar]
            scriptSupport:
              type: string
              enum: [malayalam, english, both]
            culturalContext:
              type: boolean
            regionalVariations:
              type: boolean

    CreateAIAgent:
      type: object
      required:
        - name
        - description
        - configuration
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        configuration:
          $ref: '#/components/schemas/AgentConfiguration'
        pricing:
          $ref: '#/components/schemas/AgentPricing'

    UpdateAIAgent:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        status:
          type: string
          enum: [draft, testing, review, published, suspended, archived]
        configuration:
          $ref: '#/components/schemas/AgentConfiguration'

    AgentPricing:
      type: object
      properties:
        model:
          type: string
          enum: [free, pay-per-use, subscription, enterprise]
        pricePerExecution:
          type: number
          minimum: 0
        currency:
          type: string
          default: INR
        revenueShare:
          type: object
          properties:
            platform:
              type: number
              minimum: 0
              maximum: 100
            creator:
              type: number
              minimum: 0
              maximum: 100

    AgentMetrics:
      type: object
      properties:
        totalExecutions:
          type: integer
          minimum: 0
        successRate:
          type: number
          minimum: 0
          maximum: 100
        averageResponseTime:
          type: number
          minimum: 0
        userRating:
          type: number
          minimum: 0
          maximum: 5
        totalRevenue:
          type: number
          minimum: 0
        activeUsers:
          type: integer
          minimum: 0

    Workflow:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        category:
          type: string
          enum: [CUSTOMER_SUPPORT, HEALTHCARE, EDUCATION, FINANCE, GOVERNMENT, OTHER]
        isActive:
          type: boolean
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowNode'
        createdAt:
          type: string
          format: date-time

    CreateWorkflow:
      type: object
      required:
        - name
        - category
      properties:
        name:
          type: string
          minLength: 1
        description:
          type: string
        category:
          type: string
          enum: [CUSTOMER_SUPPORT, HEALTHCARE, EDUCATION, FINANCE, GOVERNMENT, OTHER]
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowNode'

    WorkflowNode:
      type: object
      properties:
        nodeId:
          type: string
        type:
          type: string
          enum: [start, end, prompt, collect_input, transfer, api, cultural_greeting, amd_detection, tts, stt]
        name:
          type: string
        x:
          type: number
        y:
          type: number
        config:
          type: object
          additionalProperties: true

    Pagination:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
        total:
          type: integer
          minimum: 0
        totalPages:
          type: integer
          minimum: 0

security:
  - BearerAuth: []